.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: var(--size-small);
	padding-right: var(--size-small);
}
.footer > a { font-size:  var(--font-size-small); }
