.header{
	margin-top: var(--size-large);
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	padding-left: var(--size-tiny);
	padding-right: var(--size-tiny);
}
.header > a {
	font-size: var(--font-size-large);
}
