.fading-column-wrapper {

	height: 80vh;
	width: 715px;
	position: relative;
	
}
.fading-column {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	padding-top: var(--size-large);
	padding-bottom: var(--size-large);
}
.fading-column::-webkit-scrollbar { display: none; }

.fading-column-top {

	position: absolute;
	top: 0;
	width: 715px;
	height: var(--size-large);
	background-image: linear-gradient(to top, transparent, var(--background));
}
.fading-column-bottom {

	bottom: 0;
	position: absolute;
	width: 715px;
	height: var(--size-large);
	background-image: linear-gradient(to bottom, transparent, var(--background));
}