.ui-main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 1025px;
	height: 100vh;
}
.ui-left {
	width: 310px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.ui-right {
	height: 80vh;
	overflow-y: scroll;
	width: 715px;
	font-size: 24px;
}


.ui-main-component {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: var(--size-medium);
	margin-bottom: var(--size-medium);
}
.font-huge {
	font-size: 42px;
	margin-bottom: var(--size-medium);
}
.font-extra-large {
	font-size: 30px;
	margin-bottom: var(--size-small);
}

.ui-surface {
	background-color: var(--surface);
}

@media only screen and (max-width: 1025px) {
	.ui-main { width: 80vw; }
}
@media only screen and (max-width: 715px) {
	.ui-main { width: 95vw; flex-direction: column; }
}